/*!
 * Start Bootstrap - Business Casual (https://startbootstrap.com/template-overviews/business-casual)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-casual/blob/master/LICENSE)
 */

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: rgba(242,129,0,1);
  background: -moz-linear-gradient(top, rgba(242,129,0,1) 0%, rgba(249,183,0,1) 48%, rgba(252,206,0,1) 100%);
/*  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,129,0,1)), color-stop(48%, rgba(249,183,0,1)), color-stop(100%, rgba(252,206,0,1)));*/
  background: -webkit-linear-gradient(top, rgba(242,129,0,1) 0%, rgba(249,183,0,1) 48%, rgba(252,206,0,1) 100%);
  background: -o-linear-gradient(top, rgba(242,129,0,1) 0%, rgba(249,183,0,1) 48%, rgba(252,206,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(242,129,0,1) 0%, rgba(249,183,0,1) 48%, rgba(252,206,0,1) 100%);
  background: linear-gradient(to bottom, rgba(242,129,0,1) 0%, rgba(249,183,0,1) 48%, rgba(252,206,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28100', endColorstr='#fcce00', GradientType=0 );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1, h2, h3, h4, h5, h6, .text-heading {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
}

.tagline-upper {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.tagline-lower {
  font-size: 1.2rem;
  line-height: 1;
}

.text-expanded {
  letter-spacing: 2px;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
  font-size: 1.25rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

hr.divider {
  border-color: #292b2c;
  max-width: 250px;
}

.map-container iframe {
  pointer-events: none;
}

.map-container iframe.clicked {
  pointer-events: auto;
}
